{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% from 'form_macros.html' import wtform %}
    {{ wtform(form) }}
    <p>
        <a href="{{ url_for('auth.password_reset_request') }}">Восстановить пароль</a>
        <a href="{{ url_for('auth.register') }}">Зарегистрироваться</a>
    </p>
{% endblock %}
