* {
    font-family: Calibri, sans-serif;
    font-size: 1.05em;
    font-weight: 300;
    color: #444;
}

body {
    border: 0;
    padding: 0;
    max-width: 600px;
    margin: 0 auto;
}

a,
input[type=submit] {
    text-decoration: none;
    padding: 3px 4px;
    margin: 4px 0;
    border: 1px solid;
    display: inline-block;
    border-radius: 4px;
    background: rgba(0,0,0,0);
}

a:hover,
input[type=submit]:hover {
    background: rgba(0,0,0,.05);
}

#head ul {
    margin: 0 auto 6px auto;
    padding: 0 5px;
    }
#head ul li {
    list-style: none;
    display: inline-block;
    padding-top: 10px;
}

#head .account {
    float: right;
    padding: 10px 0 0 0;
}

#messages {
    background: #bdf;
    padding: 8px 14px;
    box-sizing: border-box;
}

#content {
    margin: 0 auto 40px;
    box-sizing: border-box;
    padding: 0 6px;

}

input[type=text],
input[type=password] {
    margin: 6px 0;
    padding: 4px;
    background: rgba(0,0,0,.05);
    /*border: 1px solid #eee;*/
    border: 0;
    border-radius: 4px;

}
input[type=text].has_error,
input[type=password].has_error {
    border: 2px solid #bdf;
}

.error {
    color: #f00;
}

.small {
    font-size: .85em;
}
.form .error {
    padding: 0 0 20px 0;
    margin: 0;
}

input:invalid {
    background: rgba(255,0,0,.05);
}

h3 {
    font-size: 1.3em;
    font-weight: 500;
    margin: 10px 0 0 0;
    font-style: italic;
}
