<p>Вы зарегистрированы в <b>GZad</b>!</p>
<p>Чтобы изменить адрес почтового ящика
    <a href="{{ url_for('auth.change_email_token', token=token, _external=True) }}">нажмите сюда</a>.</p>
<p>Или пройдите по следующей ссылке:</p>
<p>{{ url_for('auth.change_email_token', token=token, _external=True) }}</p>
