<p>Добро пожаловать в <b>GZad</b>!</p>
<p>Для подтверждения вашего почтового ящика
    <a href="{{ url_for('auth.confirm', token=token, _external=True) }}">нажмите сюда</a>.</p>
<p>Или пройдите по следующей ссылке:</p>
<p>{{ url_for('auth.confirm', token=token, _external=True) }}</p>
