<p>Вы зарегистрированы в <b>GZad</b>!</p>
<p>Чтобы восстановить пароль
    <a href="{{ url_for('auth.password_reset', token=token, _external=True) }}">нажмите сюда</a>.</p>
<p>Или пройдите по следующей ссылке:</p>
<p>{{ url_for('auth.password_reset', token=token, _external=True) }}</p>
