<!DOCTYPE html>
<meta charset="UTF-8">

<title>{% block title %}GZad{% endblock %}</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<div id="head">

    <ul class='menu'>
        <li><a href="{{ url_for('main.index') }}">GZad</a></li>
        <li><a href="/admin/">admin-ка</a></li>
        <div class='account'>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('auth.profile') }}">Профиль</a>
                <a class='account__l' href='{{ url_for('auth.logout') }}'>Выйти</a>
            {% else %}
            <a class='account__l' href='{{ url_for('auth.login') }}'>Войти</a>
            {% endif %}
        </div>
    </ul>
</div>

<div id="messages">
    {% for message in get_flashed_messages() %}
        [{{ message }}]
    {% endfor %}
</div>

<div id="content">
    {% block content %}
    {% endblock %}
</div>


