{% macro form_field(field) %}
    {% if field.widget.input_type == 'submit' %}
        {{field()}}
    {% elif field.widget.input_type in ['checkbox', 'radio'] %}
{#        {% for item in field %}#}
{#            <div>#}
{#                <label>{{item|safe}} {{item.label.text|safe}}</label>#}
{#            </div>#}
{#        {% endfor %}#}
        <div>
            <label>{{field|safe}} {{field.label.text|safe}}</label>
        </div>
    {% elif field.widget.input_type != 'hidden' %}
        <div>
            {{field.label()|safe}} {{field(**kwargs)|safe}}

            {% if field.errors %}
                {% for error in field.errors %}
                    <p class='error'>{{error}}</p>
                {% endfor %}
            {% elif field.description %}
                <p class='error'>{{field.description|safe}}</p>
            {% endif %}
        </div>
    {% endif %}
{% endmacro %}

{% macro wtform(form) %}
    <form method='post' class='form' novalidate>
        {{ form.hidden_tag() }}

        {% for field in form %}
            {{ form_field(field) }}
        {% endfor %}
    </form>
{% endmacro %}
