{% extends 'base.html' %}

{% block content %}
    <p>Привет,
        {% if current_user.is_authenticated %}
            {% if current_user.name %}
                {{ current_user.name }}
            {% else %}
                безымянный
            {% endif %}

            {% if current_user.confirmed and
            current_user.surname and
            current_user.name and
            current_user.middle_name and
            current_user.telephone and
            current_user.addresses.all()|length > 0 %}
                <h3>Вы можете приступить к покупкам</h3>
            {% else %}
                <h3>Для возможности покупок вы предоставили не все данные</h3>
            {% endif %}

        {% else %}
            гость
            <h3>Для возможности покупок вам нужно зарегистрироваться</h3>
        {% endif %}
    </p>
{% endblock %}
