{% extends "base.html" %}
{% set u = current_user %}

{% block title %}Профиль пользователя{% endblock %}

{% block content %}
    <p>
        Почтовый ящик: {{ u.email }}
        {% if not u.confirmed -%}
            <span class="error">(не подтвержден)</span><br>
            <span class="small">Для подтверждения многих ваших действий - на ваш почтовый ящик
                будут отсылаться проверочные ссылки, по которым будет необходимо пройти для
                подтверждения, для этого ваш адрес должен быть подтвержден.</span><br>
            <a href="{{ url_for('auth.resend_confirmation') }}">Подтвердить почтовый адрес</a>
        {%- endif %}

        <a href="{{ url_for('auth.change_email') }}">Изменить</a><br>
        <a href="{{ url_for('auth.change_password') }}">Изменить пароль</a>
    </p>

    <p>
        Вас зовут: {% if u.surname %}{{ u.surname }}{% endif %}
        {% if u.name %}{{ u.name }}{% endif %}
        {% if u.middle_name %}{{ u.middle_name }}{% endif -%}
        <br>
        {% if not (u.surname and u.name and u.middle_name) %}
            <span class="error">Для возможности оправить вам заказ нам нужно знать ваше полное имя</span><br>{% endif %}

        {% if u.telephone -%}
            Телефон: {{ u.telephone }}
        {% else -%}
            <span class="error">Для подтверждения ваших заказов нам нужно будет вам позвонить</span>
        {%- endif %}<br>
        <a href="{{ url_for('auth.profile_edit') }}">Редактировать контактные данные</a>
    </p>

    <h3>Адреса</h3>
    {% if u.addresses.all()|length > 0 %}
        <ol>{% for address in u.addresses.all() %}
            <li>{{ address.country }},
                {{ address.region }},
                {{ address.city }},
                {{ address.address }}
                [{{ address.index }}]
                <a href="{{ url_for('auth.address_edit', address_id=address.id) }}">Редактировать</a>
                <a href="{{ url_for('auth.address_delete', address_id=address.id) }}">Удалить</a>
            </li>
        {% endfor %}</ol>
    {% else %}
        <p class="error">Для отправления заказов работникам необходимо знать ваше местоположение</p>
    {% endif %}
    <a href="{{ url_for('auth.address_add') }}">Добавить новый адрес</a>
{% endblock %}
